

.dashboard-login-dark {
  background-color: #093545;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dashboard-login-dark .div {
  background-color: #093545;
  height: 100vh;
  position: relative;
  width: 1280px;
}

  .dashboard-login-dark .form {
    height: 140vh;
    left: 28%;
    position: relative;
    width: 36vw;
    top:100px;
  }

  .dashboard-login-dark .error {
    color: #FF9494;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 12px;
  }

@media screen and (max-width:800px){
  .dashboard-login-dark .form {
    height: 140vh;
    left: 28%;
    position: relative;
    width: 56vw;
    top:100px;
  }
}

.dashboard-login-dark .section-forgot {
  height: 17px;
  left: 27px;
  position: relative;
  top: 320px;
  width: 297px;
}

.dashboard-login-dark .text-wrapper {
  color: #20df7f;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 165px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 0;
}

.dashboard-login-dark .text-wrapper-2 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 0;
}

.dashboard-login-dark .rectangle {
  background-color: #224957;
  border-radius: 5px;
  height: 17px;
  left: 0;
  position: relative;
  top: 0;
  width: 18px;
}

.dashboard-login-dark .login-btn {
  background-color: #19ae64;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #0000004c;
  box-sizing: border-box;
  height: 45px;
  position: relative;
  width: 32vw;
  color: #ffffff;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 1vh;
  margin-top: 1vh;
}


.dashboard-login-dark .password {
  height: 35px;
  position: relative;
  width: 32vw;
  background-color: #224957;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .password::placeholder {
  color: #ffffff;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 21px;
  letter-spacing: 3;
  line-height: 20px;
  position: relative;
  text-align: center;
  top: 13px;
  white-space: nowrap;
}

.dashboard-login-dark .username  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: 32vw;
  position: relative;
  letter-spacing: 0;
  
  margin-bottom: 1vh;
}

.dashboard-login-dark .username::placeholder {
  color: #ffffff;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 18px;
  letter-spacing: normal;
  line-height: 20px;
  position: relative;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.dashboard-login-dark .nome  {
  color: #ffffff;
  font-family: "Lexend Deca-Regular", Helvetica;
  height: 35px;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  position: relative;
  text-align: center;
  width: 32vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
  
}

.dashboard-login-dark .email  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  top: 0%;
  width: 32vw;
  position: relative;
  margin-bottom: 1vh;
  margin-top: 1vh;
  
}

.dashboard-login-dark .nacionalidade  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  top: 0%;
  width: 32vw;
  position: relative;
  margin-bottom: 1vh;
  margin-top: 1vh;
  
}

.dashboard-login-dark .estadoCivil  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  top: 0%;
  width: 32vw;
  position: relative;
  margin-bottom: 1vh;
  margin-top: 1vh;
  
}

.dashboard-login-dark .escolaridade  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  top: 0%;
  width: 32vw;
  position: relative;
  margin-bottom: 1vh;
  margin-top: 1vh;
  
}

.dashboard-login-dark .dataNascimento  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  top: 0%;
  width: 32vw;
  position: relative;
  margin-bottom: 1vh;
  margin-top: 1vh;
  
}

.dashboard-login-dark .rg  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  top: 0%;
  width: 32vw;
  position: relative;
  margin-bottom: 1vh;
  margin-top: 1vh;
  
}

.dashboard-login-dark .orgaoExpeditor  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  top: 0%;
  width: 32vw;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .cpf  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  top: 0%;
  width: 32vw;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .endereco  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  top: 0%;
  width: 32vw;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .bairro  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  top: 0%;
  width: 32vw;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .cidade  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  top: 0%;
  width: 32vw;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .estado  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  top: 0%;
  width: 32vw;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .cep  {
  color: #ffffff;
  height: 35px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: #224957;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  top: 0%;
  width: 32vw;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .h3CheckBox  {
  color: #ffffff;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  white-space: nowrap;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .AcampamentoJuvenil  {
  color: #ffffff;
  height: 20px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  line-height: 20px;
  white-space: nowrap;
  top: 0%;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .AcampamentoCasais  {
  color: #ffffff;
  height: 20px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  line-height: 20px;
  white-space: nowrap;
  top: 0%;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .AcampamentoJoam  {
  color: #ffffff;
  height: 20px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  line-height: 20px;
  white-space: nowrap;
  top: 0%;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .AcampamentoFac  {
  color: #ffffff;
  height: 20px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  line-height: 20px;
  white-space: nowrap;
  top: 0%;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .AcampamentoCes  {
  color: #ffffff;
  height: 20px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  line-height: 20px;
  white-space: nowrap;
  top: 0%;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .AcampamentoMirim  {
  color: #ffffff;
  height: 20px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  line-height: 20px;
  white-space: nowrap;
  top: 0%;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .AcampamentoMaanaim  {
  color: #ffffff;
  height: 20px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  line-height: 20px;
  white-space: nowrap;
  top: 0%;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dashboard-login-dark .AcampamentoMulheres  {
  color: #ffffff;
  height: 20px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  line-height: 20px;
  white-space: nowrap;
  top: 0%;
  position: relative;
  
  margin-bottom: 1vh;
  margin-top: 1vh;
}


@media screen and (max-width: 800px){
  .dashboard-login-dark .login-btn {
    background-color: #19ae64;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #0000004c;
    box-sizing: border-box;
    height: 45px;
    left: 24px;
    position: relative;
    width: 50vw;
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    position: relative;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 30px;
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  
  .dashboard-login-dark .password {
    height: 35px;
    position: relative;
    width: 50vw;
    background-color: #224957;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .password::placeholder {
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 3;
    line-height: 20px;
    position: relative;
    text-align: center;
    top: 13px;
    white-space: nowrap;
  }
  
  .dashboard-login-dark .username  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    width: 50vw;
    position: relative;
    letter-spacing: 0;
    
    margin-bottom: 1vh;
  }
  
  .dashboard-login-dark .username::placeholder {
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 18px;
    letter-spacing: normal;
    line-height: 20px;
    position: relative;
    text-align: center;
    top: 12px;
    white-space: nowrap;
  }
  
  .dashboard-login-dark .nome  {
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    height: 35px;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    position: relative;
    text-align: center;
    width: 50vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
    
  }
  
  .dashboard-login-dark .email  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    top: 0%;
    width: 50vw;
    position: relative;
    margin-bottom: 1vh;
    margin-top: 1vh;
    
  }
  
  .dashboard-login-dark .nacionalidade  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    top: 0%;
    width: 50vw;
    position: relative;
    margin-bottom: 1vh;
    margin-top: 1vh;
    
  }
  
  .dashboard-login-dark .estadoCivil  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    top: 0%;
    width: 50vw;
    position: relative;
    margin-bottom: 1vh;
    margin-top: 1vh;
    
  }
  
  .dashboard-login-dark .escolaridade  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    top: 0%;
    width: 50vw;
    position: relative;
    margin-bottom: 1vh;
    margin-top: 1vh;
    
  }
  
  .dashboard-login-dark .dataNascimento  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    top: 0%;
    width: 50vw;
    position: relative;
    margin-bottom: 1vh;
    margin-top: 1vh;
    
  }
  
  .dashboard-login-dark .rg  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    top: 0%;
    width: 50vw;
    position: relative;
    margin-bottom: 1vh;
    margin-top: 1vh;
    
  }
  
  .dashboard-login-dark .orgaoExpeditor  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    top: 0%;
    width: 50vw;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .cpf  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    top: 0%;
    width: 50vw;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .endereco  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    top: 0%;
    width: 50vw;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .bairro  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    top: 0%;
    width: 50vw;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .cidade  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    top: 0%;
    width: 50vw;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .estado  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    top: 0%;
    width: 50vw;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .cep  {
    color: #ffffff;
    height: 35px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    background-color: #224957;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    top: 0%;
    width: 50vw;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .h3CheckBox  {
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-weight: 400;
    white-space: nowrap;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .AcampamentoJuvenil  {
    color: #ffffff;
    height: 20px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    line-height: 20px;
    white-space: nowrap;
    top: 0%;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .AcampamentoCasais  {
    color: #ffffff;
    height: 20px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    line-height: 20px;
    white-space: nowrap;
    top: 0%;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .AcampamentoJoam  {
    color: #ffffff;
    height: 20px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    line-height: 20px;
    white-space: nowrap;
    top: 0%;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .AcampamentoFac  {
    color: #ffffff;
    height: 20px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    line-height: 20px;
    white-space: nowrap;
    top: 0%;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .AcampamentoCes  {
    color: #ffffff;
    height: 20px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    line-height: 20px;
    white-space: nowrap;
    top: 0%;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .AcampamentoMirim  {
    color: #ffffff;
    height: 20px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    line-height: 20px;
    white-space: nowrap;
    top: 0%;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .AcampamentoMaanaim  {
    color: #ffffff;
    height: 20px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    line-height: 20px;
    white-space: nowrap;
    top: 0%;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .dashboard-login-dark .AcampamentoMulheres  {
    color: #ffffff;
    height: 20px;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    line-height: 20px;
    white-space: nowrap;
    top: 0%;
    position: relative;
    
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  }


.dashboard-login-dark .text-wrapper-5 {
  color: #ffffff;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  position: relative;
  text-align: center;
  top: 1px;
}
